<p style="color: green"><%= notice %></p>

<% @posts.each do |post| %>
  <%= link_to post.title, post %>
<% end %>

<br>

<% if user_signed_in? %>

  <%= link_to "New post", new_post_path %>

<% else %>

  <%= link_to "Admin Login", new_session_path(:user) %>

<% end %>
